* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem 0 0 1rem;
}

.heading {
  font-size: 3rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: sans-serif;
}

.event {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.date-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  gap: 2rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.date-picker * {
  font-family: sans-serif;
  font-size: 2rem;
}

.fa-arrow-right,
.fa-arrow-left {
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.event-adding {
  border: none;
  border-radius: 5px;
  padding: 0.25rem;
  height: 2rem;
  padding-left: 1rem;
}

.input-title {
  height: 3rem;
}

.delete-event {
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding-bottom: 1rem;
}
.delete-event .input-delete {
  padding: 0.5rem 0 0.5rem 0.5rem;
  outline: none;
  border: none;
  outline: #e9ebf3 solid 1px;
  border-radius: 5px 5px 0 0;
}
.delete-event .delete-event-btn {
  padding: 0.25rem;
  outline: none;
  border: none;
  border-radius: 0 0 5px 5px;
  background-color: #fdebeb;
  outline: 1px solid #fdebeb;
  color: #b91c1c;
  height: 2.5rem;
  margin-top: 0.25rem;
}

.natural-language {
  display: flex;
  flex-direction: column;
  width: 16rem;
  margin-top: 2rem;
}
.natural-language * {
  padding: 0 0 0 0.5rem;
}
.natural-language .input-natural {
  padding-top: 0.5rem;
  font-family: sans-serif;
  border: none;
  outline: none;
  outline: #e9ebf3 solid 1px;
  border-radius: 5px 5px 0 0;
}
.natural-language .natural-language-btn {
  padding: 0.25rem;
  border: none;
  outline: none;
  border-radius: 0 0 5px 5px;
  background-color: #d9e9fd;
  color: #405d7d;
  height: 2.5rem;
  margin-top: 0.25rem;
  outline: 1px solid #d9e9fd;
}

.no-events {
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #be185d;
  background-color: #fce7f3;
  padding: 1rem 1rem;
  border-radius: 5px;
  opacity: 0.8;
  width: -moz-fit-content;
  width: fit-content;
}

.add-event {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  width: 16rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  width: 16rem;
  outline: #e9ebf3 solid 1px;
  border-radius: 5px;
  padding: 0 0.5rem;
}
.input-fields .input-user {
  margin-bottom: 0.35rem;
}

.input-fields *:focus {
  outline: none;
}

.add-event-btn {
  color: #6b21a8;
  background-color: #f1e8fd;
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.individual_event_times {
  display: flex;
  gap: 1rem;
}
.individual_event_times * {
  font-size: 1rem;
}

.individual_event_dates {
  display: flex;
  gap: 1rem;
}

.date_divider {
  font-size: 1.15rem;
}

.event__location,
.event__id,
.event__user {
  font-size: 1rem;
}

.event__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.event__date {
  font-size: 1.25rem;
}

.delete-event {
  margin-top: 2rem;
}

.delete-icon {
  font-size: 1rem;
  cursor: pointer;
}

.previous-month,
.next-month {
  cursor: pointer;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  font-size: var(--spinner-size, 12px);
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.5em;
  background-color: transparent;
  transform-origin: center -0.2222em;
  animation: spinner-fade 1s infinite linear;
}
.spinner-blade:nth-child(1) {
  animation-delay: 0s;
  transform: rotate(0deg);
}
.spinner-blade:nth-child(2) {
  animation-delay: 0.083s;
  transform: rotate(30deg);
}
.spinner-blade:nth-child(3) {
  animation-delay: 0.166s;
  transform: rotate(60deg);
}
.spinner-blade:nth-child(4) {
  animation-delay: 0.249s;
  transform: rotate(90deg);
}
.spinner-blade:nth-child(5) {
  animation-delay: 0.332s;
  transform: rotate(120deg);
}
.spinner-blade:nth-child(6) {
  animation-delay: 0.415s;
  transform: rotate(150deg);
}
.spinner-blade:nth-child(7) {
  animation-delay: 0.498s;
  transform: rotate(180deg);
}
.spinner-blade:nth-child(8) {
  animation-delay: 0.581s;
  transform: rotate(210deg);
}
.spinner-blade:nth-child(9) {
  animation-delay: 0.664s;
  transform: rotate(240deg);
}
.spinner-blade:nth-child(10) {
  animation-delay: 0.747s;
  transform: rotate(270deg);
}
.spinner-blade:nth-child(11) {
  animation-delay: 0.83s;
  transform: rotate(300deg);
}
.spinner-blade:nth-child(12) {
  animation-delay: 0.913s;
  transform: rotate(330deg);
}

@keyframes spinner-fade {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}/*# sourceMappingURL=index.css.map */