@import "_fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

calendar {
  width: 100vw;
  margin-top: 2rem;
  display: grid;
  row-gap: 2rem;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-gap: 3cm; */
  /* border: #000 1px solid; */
  font-family: $mono-font;

  > div {
    padding: 10px;
  }
}

.month-switcher {
  // place-items: initial;
  display: flex;
  align-items: center;
  // width: 65%;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: span 3;
}

#prevMonth,
#nextMonth {
  display: flex; // Make this a flex container
  align-items: center; // Center vertically
  justify-content: center; // Center horizontally
  padding: 0;
  border: none;
  background: none;
  margin-right: 1rem; // for prevMonth
  margin-left: 1rem; // for nextMonth
  width: 3rem;
  height: 3rem;
}

#monthAndYear {
  font-family: $mono-font;
  margin-left: 2rem;
}

#monthAndYear::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid rgba(196, 196, 196, 0.373);
  margin-top: 3px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  font-family: $mono-font;
  margin-bottom: 3rem;

  .day {
    display: block;
    width: fit-content;

    p::after {
      /* so that the underline under each day can just slightly extend past each day, without having to hardcode the width of the underline */
      content: "";
      display: block;
      width: 120%;
      border-bottom: 2px solid rgba(0, 0, 0, 0.373);
      margin-top: 5px;
    }
  }
}

.add-event-icon {
  // margin-right: 1rem;
  cursor: pointer;
  background-color: #dee2f4;
  color: #181c44;
  border-radius: 50%;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
}

.close-modal-icon {
  cursor: pointer;
  background-color: #ffd6d6;
  color: #a84848;
  border-radius: 50%;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
}

.fa-plus {
  color: #a84848;
  height: 15px;
  width: 15px;
}

.fa-plus::before {
  display: block;
  height: 15px;
  width: 15px;
}

.main-modal {
  font-family: sans-serif;
  background-color: white;
  outline: 1px solid rgba(216, 215, 223, 0.244);
  border: 1px solid rgba(216, 215, 223, 0.244);
  padding: 1rem;
  transition: overlay 0.7s ease-out allow-discrete;
  border-radius: 8px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete,
    background-color 0.7s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

// @starting-style {
//   dialog[open]::backdrop {
//     background-color: rgb(0 0 0 / 0%);
//   }
// }

.fa-circle-xmark {
  opacity: 0.4;
}

.event-confirm-delete-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;

  * {
    opacity: 0.4;
  }
}

.calendarAndDays {
  max-width: 64rem;
  grid-column: span 3;
  width: 85%;
  background-color: rgba(216, 215, 223, 0.244);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  /* background-color: rgb(238, 238, 228); */
}

/* Highlighting current day */

/* select the current day span element - an element which is inside the current day cell */
.current-day-span {
  position: relative;
}

/* add a pseudo element to the current day span element */
@keyframes pulse {
  0% {
    width: 45px;
    height: 45px;
  }
  50% {
    width: 55px;
    height: 55px;
  }
  100% {
    width: 45px;
    height: 45px;
  }
}

.current-day-span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  background-color: lightblue;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: pulse 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.cell {
  .event {
    font-family: sans-serif;
    min-height: 4.2rem;
    background-color: rgb(199, 201, 203);
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 8px 5px 5px;
    font-size: 14px;
    transition: all 0.2s;
  }
}

.events-stack {
  position: relative;
  min-height: 4.5rem;
  overflow: hidden; /* Optional, to keep everything contained */
}

.stacked-event {
  position: absolute;
  top: 0;
  left: 0;
}

.inputting-event {
  display: none;

  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-column: span 3;
  margin-bottom: 4rem;

  button {
    background-color: rgb(68, 67, 67);
    color: whitesmoke;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

    &:hover {
      background-color: rgb(68, 67, 67);
      color: whitesmoke;

      letter-spacing: 2px;
    }
  }

  .natural-language {
    height: auto;
  }
}

.event-clicked {
  outline: 2px solid black;
}

.event:hover {
  cursor: pointer;
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 1.5rem;

  p {
    font-size: 1.25rem;
    font-family: sans-serif;
  }
}

.modal-adding-event-container {
  padding: 0 0.5rem;
}

.event-adding {
  border: none;

  // background-color: rgba(220, 220, 220, 0.227);
  border-radius: 5px;
  padding: 0.25rem;
  height: 2rem;
  padding-left: 1rem;
}

.input-title {
  height: 3rem;
}

.delete-event {
  display: flex;
  flex-direction: column;
  // width: 16rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;

  .input-delete {
    padding: 0.5rem 0 0.5rem 0.5rem;
    outline: none;
    border: none;
    outline: #e9ebf3 solid 1px;

    border-radius: 5px 5px 0 0;
  }

  .delete-event-btn {
    outline: none;
    border: none;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #fdebeb;
    outline: 1px solid #fdebeb;

    color: #b91c1c;
    height: 2.5rem;
    margin-top: 0.25rem;

    display: grid;
    place-items: center;
  }
}

.natural-language {
  display: flex;
  flex-direction: column;
  // width: 16rem;
  margin-top: 2rem;

  .input-natural {
    padding-top: 0.5rem;
    font-family: sans-serif;
    border: none;
    outline: none;
    outline: #e9ebf3 solid 1px;
    border-radius: 5px 5px 0 0;

    padding: 0.5rem 0 0 0.5rem;
  }

  .natural-language-btn {
    // padding: 0.25rem;
    padding: 0.25rem 1rem;
    border: none;
    outline: none;
    border-radius: 0 0 5px 5px;
    background-color: #d9e9fd;
    color: #405d7d;
    height: 2.5rem;
    margin-top: 0.25rem;
    outline: 1px solid #d9e9fd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.add-nlu-text,
.delete-event-text,
.add-event-text {
  font-size: 0.835rem;
}

.add-event {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  outline: #e9ebf3 solid 1px;
  border-radius: 5px 5px 0 0;
  padding: 0 0.5rem;
}

.input-fields * {
  &:focus {
    outline: none;
  }
}
.add-event-btn {
  color: #6b21a8;
  background-color: #f1e8fd;
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  outline: 1px solid #f1e8fd;

  display: grid;
  place-items: center;
}

.addingGroups {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: sans-serif;
  ul {
    * {
      background-color: #f1e8fd;
      padding: 0.5rem;
      margin-bottom: 0.25rem;
      width: 40%;
      text-align: center;
      cursor: pointer;
    }
  }

  input {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #ececec;
  }

  button {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #594672;
    cursor: pointer;
    color: white;
    margin-bottom: 4rem;
  }
}

.today {
  position: relative;
  animation: pulse 0.5s;
}

.today::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  z-index: -1;

  border-radius: 50px;
  background-color: #fceed8;
  opacity: 0.5;

  animation: inherit;
  animation-delay: 0.8s;
}

@keyframes pulse {
  0% {
    width: 45px;
    height: 45px;
  }
  50% {
    width: 55px;
    height: 55px;
  }
  100% {
    width: 45px;
    height: 45px;
  }
}

.group-choice-container {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  * {
    font-family: $mono-font;
  }

  // width: 8rem;
}

.custom-select {
  // min-width: 350px;
  position: relative;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 3.5rem;
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #fff;
  // border: 1px solid #caced1;
  border: none;
  border-radius: 1rem;
  color: #000;
  cursor: pointer;
}

.modal-adding-events-general-container {
  padding-bottom: 0.75rem;
}

.add-group {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.modal-adding-group-container {
  padding: 0 0.5rem;
}

.add-group-input-fields {
  display: flex;
  flex-direction: column;
  outline: #e9ebf3 solid 1px;
  border-radius: 5px;
  gap: 1rem;
  padding: 0.75rem 1rem;

  input {
    border: none;
    outline: none;
  }
}

.add-group-input-fields * {
  &:focus {
    outline: none;
  }
}

.add-group-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  color: #6b21a8;
  background-color: #f1e8fd;
  // height: 2.5rem;
  min-height: 100%;
  width: 6rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  outline: 1px solid #f1e8fd;

  i {
    font-size: 1.25rem;
  }
}

.main-modal {
  box-shadow: 0px 0px 50px 15px grey;
}

.close-group-modal-icon {
  cursor: pointer;
  background-color: #ffd6d6;
  color: #a84848;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
}

.changingText {
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out,
    scale 0.2s ease-in-out;
  filter: blur(0);
}

/////////////////////////// Necessary for spinner ///////////////////////////

$spinner-color: #69717d !default;
$overlay-color: black !default;

@mixin absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.overlay {
  background: rgba($overlay-color, 0.9);
  @include absolute-center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  font-size: var(--spinner-size, 12px); // Use CSS variable for spinner size
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.5em;
  background-color: transparent;
  transform-origin: center -0.2222em;
  animation: spinner-fade 1s infinite linear;

  $animation-delay: 0s;
  $blade-rotation: 0deg;

  @for $i from 1 through 12 {
    &:nth-child(#{$i}) {
      animation-delay: $animation-delay;
      transform: rotate($blade-rotation);
      $blade-rotation: $blade-rotation + 30deg;
      $animation-delay: $animation-delay + 0.083s;
    }
  }
}

@keyframes spinner-fade {
  0% {
    background-color: $spinner-color;
  }

  100% {
    background-color: transparent;
  }
}

/////////////////////////// end of necessary for spinner ///////////////////////////

.files-page-button {
  display: flex;
  justify-content: space-between;
  background-color: #e2efe5;
  color: #264724;
  width: 7rem;
  padding: 1rem;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  cursor: pointer;

  .files-page-button-icon {
    font-size: 1.2rem;
    color: #264724;
  }
}

.icon-choice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;

  padding: 4px 4px 12px 16px;

  .icon-choice-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
  }

  .chosen-icon-container {
    display: grid;
    place-items: center;
    background-color: #f5f4f4;
    padding: 4px;
    border-radius: 3px;

    cursor: pointer;
  }

  p {
    font-size: 0.835rem;
  }
}

.edit-event-modal {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  min-height: fit-content;
  padding: 1rem;

  border-radius: 10px;

  .modal-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 0.5rem;

    p {
      font-size: 1.25rem;
      font-family: "Space Grotesk", sans-serif;
    }

    .close-edit-event-modal-icon {
      cursor: pointer;
      transform: rotate(45deg);

      background-color: #ffd6d6;
      color: #a84848;
      border-radius: 50%;
      padding: 0.5rem;
    }

    margin-bottom: 1rem;
  }
}

.modal-editing-event-container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-editing-event-input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.modal-editing-event-input-fields * {
  &:focus {
    outline: none;
  }
}
.modal-editing-event-input-fields .input-user {
  padding-top: 0.5rem;
  font-family: "Space Grotesk", sans-serif;
  border: none;
  outline: none;
  outline: #e9ebf3 solid 1px;
  border-radius: 5px 5px 0 0;
}

.modal-editing-event-input-fields .event-editing {
  font-family: "Space Grotesk", sans-serif;
  border: none;
  outline: none;
  outline: #e9ebf3 solid 1px;
  border-radius: 5px 5px 0 0;

  padding: 0.25rem;
  height: 2.5rem;
  padding-left: 1rem;
}

.modal-editing-event-btn {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;

  cursor: pointer;

  i {
    font-size: 1rem;
    color: #4856a8;
    cursor: pointer;
  }

  p {
    font-weight: 500;
    font-size: 1rem;
    color: #4856a8;
  }

  background-color: #d9e9fd;
  width: fit-content;
  padding: 0.75rem;
  border-radius: 10px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s infinite;
  outline: 2px solid darkred;
}

.signout {
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #ec8787;
  color: rgb(255, 255, 255);
  width: fit-content;

  border: none;
  outline: none;
  cursor: pointer;
}

.add-fake-event-btn {
  display: none;
}

.delete-event {
  display: none;
}

.natural-language {
  margin-bottom: 2rem;
}
