* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.notesHeading {
  margin: 1rem 0 0 1rem;
}

#notesContainer {
  margin: 2rem 0 4rem 1rem;

  h2 {
    margin: 0.5rem 0 0.5rem 0;
  }
}

.note {
  padding: 1rem;
  margin-bottom: 0.5rem;
  min-width: 16rem;
  max-width: 32rem;
  background-color: rgba(211, 211, 211, 0.257);
  border-radius: 0.5rem;
  span {
    color: rgba(0, 0, 0, 0.399);
    display: block;
  }
  p {
    font-size: 1rem;
  }
  textarea {
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: padding 5s ease-in-out;
  }
}

.fa-solid {
  opacity: 40%;
}

.creation-date-time {
  font-size: 1rem;
}

.updated-date-time {
  font-size: 0.75rem;
}

// #noteInput {
//   width: 20rem;
//   height: 7ch;
// }

.addNoteContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 16rem;
  height: 12rem;
  margin: 1rem 0 0 1rem;

  #noteInput {
    border: none;
    outline: none;
    resize: none;
    background-color: #f5f5f5;
    padding: 0.75rem;
    border-radius: 0.5rem;
    height: 6rem;
  }

  .priorityOption {
    margin-left: 0.5rem;
    input {
      transform: scale(1.2);
    }
  }

  .sendNote {
    height: 2rem;
    font-size: 0.85rem;
    border-radius: 5px;
    border: none;
    outline: none;
    display: flex;
    // spread everything inside the button
    justify-content: space-between;
    // center vertically
    align-items: center;
    padding: 0 1rem;

    i {
      color: black;
    }
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
